body {
  margin: 0;
  direction: rtl;
    margin: 0;

}


.header-container {
  background: #153448;
  color: #3C5B6F;
}

header {
  width: 90%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  font-size: 1.9rem;
}

 .logo {
  font-family: "Kufam", cursive;
  font-weight: bold;
  flex: 3;
  color: #948979;
  margin-bottom: 1rem;
}

.active {
  background-color: #153448;
  opacity: 0.5;


}
.navbar {
  overflow: hidden;
  background-color: #3C5B6F;
  color: #153448;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  font-weight: bold;
  font-size: 20px;
  border-bottom: 5px solid #153448;


}


.navbar a{
  float: right;
  font-size: 20px;
  direction: rtl;

  color: #948979;
  text-align: center;
  padding:  16px;
  text-decoration: none;
}





.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #3C5B6F;
  color:#0e3149 ;
}
.fa
{
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

 
}
.fa-fw
{
  width:1.28571429em;
  text-align:center
}


.fa-home:before
{
  content:"\f015"
}


.w3-center 
{
  display:inline-block;
  width:auto;
  text-align:center;
}

.w3-block
{
  display:block;
  width:100%;
}
.w3-black,.w3-hover-black:hover
{
  border-top: 5px solid #153448;
  color: #153448 !important;
  background-color:#3C5B6F!important;
  width:100%
}


.w3-padding-64
{
  padding-top:64px!important;
  padding-bottom:64px!important
}


.w3-hover-opacity-off:hover{opacity:1}
.w3-opacity-min{opacity:0.75}
.w3-button
{
  width:100%;
   white-space:normal;
   text-align:left;
   padding:8px
}

.w3-button-right
{
   text-align:right;
    float:  right;
   
}
.w3-button:hover
{
  color: #3C5B6F!important;
  background-color:#DFD0B8!important;
}


.w3-light-brown,.w3-hover-light-brown:hover,.w3-light-brown,.w3-hover-light-brown:hover
{
  color:#3C5B6F!important;
  background-color:#153448!important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  font-weight: bold;

}

.fa
{
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.fa-arrow-up:before{
  content:"\f062";

}

.w3-margin-right
{
  margin-right:16px!important
}
.w3-xlarge
{
  font-size:24px!important
}
.w3-section
{
margin-top:16px!important;
margin-bottom:16px!important
}
.w3-hover-opacity:hover{opacity:0.60}




.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFBE9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background:#CEAB93;
  padding: 16px;
  color: #826F66;
}



.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #FFFBE9;
  height: 250px;
}

.column a {
  float: none;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #AD8B73;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}
.fa-caret-down:before
{
  content:"\f0d7"
}



*{
  box-sizing: border-box;
 
}

.hover-fold {
  background: #DFD0B8;
  border-top : 5px solid #153448;
  height: 450px;

  perspective: 1500;
  position: relative;
  width: 100%;
}
.hover-fold h2 {
  border-bottom: 5px solid #3C5B6F;
  padding:30px 0 2px;
  text-indent: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  font-weight: bold;
    font-weight: bold;
    font-size: 3rem;
    color: #3C5B6F;
    A97155
}
.hover-fold .top {
  height: 50%;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
}
.hover-fold .top .face {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.hover-fold:hover .top {
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.hover-fold .front {
  background: url(was.jpg);
  height: 100%;
  /*has to be 100% of .top */
  width: 100%;
}
.hover-fold .back {
  background: #DFD0B8;
  height: 100%;
  /*has to be 100% of .top */
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  width: 100%;
    border-bottom: 5px solid #3C5B6F;

}
.hover-fold .back h4 {
  margin: 0;
   padding-left: 30px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  font-weight: bold;
   font-weight: bold;
    font-size: 1.5rem;
    color: #948979;
    text-indent: 30px;

}
.hover-fold .back p {
  margin: 0;
   padding-left: 20px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  font-weight: bold;
   font-weight: bold;
    font-size: 1.5rem;
    color: #3C5B6F;
    text-indent: 30px;

}

.hover-fold .back ul {
  margin: 0;
   padding-left: 20px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  font-weight: bold;
   font-weight: bold;
    font-size: 1.5rem;
    color: #3C5B6F;
    text-indent: 30px;


}
.hover-fold .bottom {
  background: url("was.jpg") bottom;
  height: 50%;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 0;
    border-bottom: 5px solid #153448;

}


.text {
  background-color: #3C5B6F;
  color: #153448;
  font-size: 10vw; 
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}


    .root1 {
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.html2, .body2, .page-container2 {
    height: 100%;
}
.img-fluid{height: 200px }
.body2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  font-weight: bold;
    font-size: 17px;
    font-weight: 300;
    color: #7D5A50;
    line-height: 1.5;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.mb-0 {
    margin-bottom: 0!important;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul {
    padding-left: 2rem;
}
.px-3 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}
.position-relative {
    position: relative!important;
}
.d-flex {
    display: flex!important;
}
.text-center {
    text-align: center!important;
}

.img2,.svg2{vertical-align:middle}
.a2 {
    color: #FFFBE9;
    text-decoration: none;
    transition: all 0.3s ease;
}

.a2:hover {
    color: #AD8B73;
}

.p2 {
    line-height: 1.7;
     opacity: 1;
}

.h2 {
    font-size: 1.8rem;
    opacity: 1;
}


.page-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.container2-fluid {
    max-width: 1860px;
}

.btn {
    font-size: 1.0rem;
    padding: 9px 19px;
    border-radius: 0;
}

.btn-primary {
    background-color: #FFFBE9;
    border: none;
    color: #AD8B73;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #E3CAA5;
    background-color: #AD8B73;
}

/* Style the video: 100% width and height to cover the entire window */
#bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
  width: 100%;
height: 1000px;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-image: url(../img/tm-astro-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#tm-nav2 {
    z-index: 1000;
}

.navbar2 .a2 {
    color: white;
}

.navbar2-brand {
    font-size: 2.4rem;
}

.navbar2 {
    margin-top: 15px;
}

.navbar2 .navbar2-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar2 .navbar2-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar2 .navbar2-nav .nav-item .nav-link {
    font-size: 1.5rem;
    padding: 15px 65px;
    border-bottom: 1px solid white;
}

.nav2-item {
    position: relative;
}

.circle {
    position: absolute;
    left: calc(50% - 10px);
    bottom: -10px;
    width: 20px;
    height: 20px; 
    background-color: #E3CAA5;
    border-radius: 50%;
}

.tm-border-bottom {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.tm-border-top {
    border-top: 1px solid white;
    padding-top: 20px;
}

.navbar2 .navbar2-nav .nav2-item.selected .nav2-link,
.navbar2 .navbar2-nav .nav2-item .nav2-link:hover {
    color: #99FF66;
    border-bottom: 1px solid #99FF66;
}

.cd-slider-nav li.selected a+.circle,
.navbar2 .navbar2-nav .nav2-item .nav2-link:hover+.circle {
    background-color: #99FF66;
}

.navbar2-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar2-toggler {
    border: 1px solid rgba(255,255,255,1);
}

.navbar2-toggler:focus {
    box-shadow: none;
}

.tm-link-white {
    color: white;
}

.tm-link-white:hover,
.tm-link-white:focus {
    color: #99FF66;
}

.cd-hero-slider {
    padding: 10px 0;
}

.cd-hero-slider li { 
    list-style: none;
}

.content-pad {
    padding: 40px 30px;
}

.page-width-1 {
    max-width: 1110px;
}



.page-left {
    margin-left: 50px;
}

.page-right {
    margin-right: 50px;
}

.tm-bg-dark {
    background-color:#FFFBE9;
    opacity: 0.8;
}

.intro-left {
    margin-right: 20px;
    padding: 30px 30px;
    max-width: 905px;    
}

.intro-img-1 {
    margin-bottom: 20px;
}

.intro-circle-1 {
    left: -20px;
    top: -10px;
}

.intro-circle-2 {
    right: -20px;
    top: -10px;
    left: auto;
}

.intro-circle-3 {
    right: -20px;
    bottom: -10px;
    left: auto;
}

.intro-circle-4 {
    left: -20px;
    bottom: -10px;
}

.tm-intro-btn {
    margin-top: 15px;
}

.marg-body {  
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    display: flex;
  background-color: #3C5B6F;

  
  }
  
  :root {
    --secondary-color: #3C5B6F;
    --contrast-color: #3C5B6F;

  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: var(--contrast-color);
    background-color: #DFD0B8;


  }
  
  
  .container-Abut {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    color: #153448;
    animation: expand .8s ease forwards;
    background-color: #DFD0B8;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  font-weight: bold;
    transition: all .8s ease;
    padding-right: 80px;
    text-align: center;


  }
  
  .container-Abut_content {
   width: 50%;
  }
  
  .container-Abut_content_inner {
    width: 80%;
    margin-left: 80px;
  }
  
  .container-Abut_outer_img {
    margin: 100px;
    width: 50%;
    overflow: hidden;
  }   
      
  .container-Abut_img {
    width: 500px;
    height: 500px;
    animation: slideIn 1.5s ease-in-out forwards;
  }
  
  .par {
    height: auto;
    overflow: hidden;
  }
  
  .p1{
    line-height: 28px;
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;
  }
  .h31{
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;
  }

  
  .btns {
    height: 100%;
    position: relative;
    width: 150px;
    overflow: hidden;
  }
  
  .btns_more {
    background: transparent;
    border: 1px solid var(--contrast-color);
    border-radius: 50px;
    padding: 8px 12px;
    color: #BF307F;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    margin-top: 15px;
    outline: none;
    transform: translateY(50px);
    animation: slideUp .8s ease-in-out  forwards 1s;
  }
  
  .title1 {
    overflow: hidden;
    height: auto;
  }
  
  .h1 {
      font-size: 40px;
      color: #153448;
      margin-bottom: 20px;
      transform: translateY(100px);
      animation: slideUp .8s ease forwards .5s;
      background-color: #DFD0B8;


  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  